h1{
  /* color : red; */
  color: #0000FF;
  /* borders have width, color, style  with 2 methods
  */
  /* border-color: black;
  border-width: 5px;
  border-style: dashed;  */
  /* border: 5px solid blue; */
}
h2 {
  /* rgba(red green blue, transparency) */
  color: rgba( 120, 120, 255, 5);
}
#anything{
  color: black;
}
h3 {
  /* rgba(red green blue, transparency) */
  color: rgba( 120, 120, 255, .2);
}
h4{
  /* color : blue; */
  color: rgba( 120, 120, 255, .05);
}
li {
  color : rgb(250, 100, 11);
}
strong{
  /* rgba(red green blue, transparency) */
  color: rgb( 120, 120, 255, 1);
}
/*http://colours.neilorangepeel.com/*/
body{
  background: url(http://zyzixun.net/data/out/126/3919528-panda-wallpapers.png);

  /* background: url(http://www.printawallpaper.com/upload/designs/faded_world_map_detail.jpg); */
  background-size: cover;
}
div{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5_5SniBpsjUq47kw_uBIc0I-ALChdU8nch-k3RkYouqosegF6);
  background-repeat: no-repeat;
  /* border: 3px solid black; */
}
table{
  background: url(http://zyzixun.net/data/out/126/3919528-panda-wallpapers.png);
  /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2JiVVGlGuESdJv4wn9A4ExjLumvnlwZFz3d_EiuaDJiyjtKiP); */
  border: 3px solid black;

}
